.cart {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}


.card {
    flex-basis: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 60px;
    box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    overflow: hidden;
    padding: 70px;
    margin: 30px;
}



.card img {
    border-radius: 5px;

}



.card-content {

    flex-basis: 100%;
    font-family: cursive;

}

.btns {
    display: flex;
    justify-content: space-around;
    width: 400px;


}

.btns a button {
    width: 70px;
    height: 28px;
    background-color: blanchedalmond;
    box-shadow: 3px 4px 5px 0 rgb(93, 71, 71);
    border: 1px solid blanchedalmond;
    border-radius: 3px;
}

#divbtn :hover {
    background-color: green;
}

#removebtn {
    background-color: red;
    height: 30px;
    width: 80px;
    border: 1px solid red;
    border-radius: 3px;
}

#checkoutbtn {
    background-color: beige;
    height: 30px;
    width: 80px;

    border: 1px solid beige;
    border-radius: 3px;
}